# Database url
database_url=local.db

# Better-auth
better_auth_secret=my_super_secret
better_auth_url=http://localhost:5173/

# Better-auth github login
github_client_id=my_github_id
github_client_secret=my_github_secret